<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>
    <specFlow>
        <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
        <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
        <unitTestProvider name="NUnit" />
        <!--<runtime detectAmbiguousMatches="true" stopAtFirstError="false" missingOrPendingStepsOutcome="Inconclusive" />-->
        <!--<trace traceSuccessfulSteps="true" traceTimings="false" minTracedDuration="0:0:0.1" />-->
    </specFlow>
    <appSettings>
        <add key="BaseURL" value="https://www.booking.com" />
        <add key="Browser" value="android" />
        <add key="timeout" value="30" />
        <!--        <add key="DriverPath" value="/Users/salim/mtk_projects/ED/UITesting/UITesting" />-->
        <add key="DriverPath" value="http://127.0.0.1:4723/wd/hub" />
    </appSettings>
</configuration>